# database postgres
POSTGRES_USER=lexmon
POSTGRES_PASSWORD=lexmon
POSTGRES_DB=lexmon

# jwt
JWT_SECRET=change-me-in-production

# OAuth
# 42 local app settings:
# Website: https://localhost/
# Redirect URI: https://localhost/api/auth/oauth/42/callback
OAUTH_GOOGLE_CLIENT_ID="your-google-id"
OAUTH_GOOGLE_CLIENT_SECRET="your-google-secret"
OAUTH_GITHUB_CLIENT_ID="your-github-id"
OAUTH_GITHUB_CLIENT_SECRET="your-github-secret"
OAUTH_42_CLIENT_ID="your-42-id"
OAUTH_42_CLIENT_SECRET="your-42-secret"
