NODE_ENV=production
PORT=3000
DATABASE_URL=postgresql://lexmon:lexmon@postgres:5432/lexmon?schema=public
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=1d
CORS_ORIGIN=http://localhost:8080
FRONTEND_URL=http://localhost:8080
OAUTH_CALLBACK_BASE_URL=http://localhost:8080/api
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GITHUB_CLIENT_ID=Ov23liAmiWfPaEqGhPpC
OAUTH_GITHUB_CLIENT_SECRET=0d98e879b7c121baa88ca6e440c3f310ecf0d6e5
OAUTH_42_CLIENT_ID=u-s4t2ud-658f98ceb3a51f4395c88ce8043055a986ec2c7a78a7ac3bb284c8649b33ac1c
OAUTH_42_CLIENT_SECRET=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
