NODE_ENV=production
PORT=3000
JWT_EXPIRES_IN=1d
CORS_ORIGIN=https://localhost
FRONTEND_URL=https://localhost
OAUTH_CALLBACK_BASE_URL=https://localhost/api

# sensitive 
# database postgres
POSTGRES_USER=lexmon
POSTGRES_PASSWORD=lexmon
POSTGRES_DB=lexmon

# jwt 
JWT_SECRET=change-me-in-production

# OAuth
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=
OAUTH_42_CLIENT_ID=
OAUTH_42_CLIENT_SECRET=
